html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 10px;
    height: 97vh;
    background-color: #0f1014;
}

header {
    position: fixed;
    background-color: #0f1014;
    z-index: 1;
    width: 100%;
    height: 80px;
}

.navbar {
    height: 100%;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 10px;
}

.ul_links {
    /*display: flex;
    flex-direction: row;*/
    background-color: #0f1014;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    height: 0;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: all .3s;
}

.menu_bars {
    display: none;
}

.menu_bars:checked + .ul_links{
    height: calc(100vh - 80px); 
    margin-top: 70px;
}

.list-icon{
    cursor: pointer;
    padding-left: 20px;
}

.navbar ul li{
    list-style-type: none;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.navbar ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    transition: all 300ms linear;
}

.navbar ul li a:hover{
    color: #356e8b;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.393);
    cursor: pointer;
}

.main {
    box-sizing: border-box;
    width: 100%;
    height: 83%;
    background: linear-gradient(rgba(15, 16, 20, 0.85) 90%, rgba(15, 16, 20, 1)), url(./img/background_main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0.5rem 0rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    /* padding: 0; */
    padding-left: 80px;
    color: rgb(184, 184, 184);
}

.aboutme {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0;
    padding-left: 20px;
    color: rgb(184, 184, 184);
}

.aboutme__subtitle {
    font-size: 25px;
}

.aboutme__description {
    font-size: 15px;
}

.container__title {
    font-weight: bold;
    margin: 0;
}


/*background: linear-gradient(rgba(15, 16, 20, 0.85) 90%, rgba(15, 16, 20, 1)), url(./img/photo.jpg);
background-size: cover;
background-repeat: no-repeat;*/

.container__subtitle {
    font-size: 1rem;
    opacity: 0.6;
    margin: 0;
    margin-bottom: 6rem;
}

.container__buttons {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 1.5rem
}

.buttons {
    font-size: 1rem;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8%;
    color: white;
    transition: all 300ms linear;
}

.buttons:hover {
    background-color: transparent;
    border: 1px solid #356e8b;
    border-radius: 8%;
    color: #356e8b;
    cursor: pointer;
    scale: 1.1;
    box-shadow: 0 0 2px white;
}

.projects {
    font-size: 1.2rem;
    padding: 0;
    padding-left: 100px;
    color: rgb(184, 184, 184);
}

.container-projects {
    box-sizing: border-box;
    display: grid;
    max-width: 900px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    margin: 0 auto;
    gap: 20px;
}

.project-card {
    border: 1px solid #356e8b;
    border-radius: 5px;
    height: auto;
    padding: 0 10px;
    transition: all 300ms ease;
}

.project-card:hover {
    scale: 1.1;
    box-shadow: 0 0 2px white;
}

.footer {
    margin: 0;
    margin-top: 20px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a0b0e;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    header {
        position: fixed;
        background-color: #0f1014;
        z-index: 1;
        width: 100%;
        height: 50px;
        /* height: 80px; */
    }

    .menu_bars {
        display: none;
    }

    .label_icon {
        display: none;
    }

    .menu_bars:checked + .ul_links{
        height: auto; 
        margin-top: 0px;
    }

    .ul_links {
        /*display: flex;
        flex-direction: row;*/
        background-color: #0f1014;
        width: auto;
        /* top: 10px; */
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        /* overflow: hidden; */
        /* align-items: center; */
        /* flex-direction: column; */
        gap: 10px;
        /* transition: all .3s; */
    }
}