html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 10px;
    height: 97vh;
    background-color: #0f1014;
}

header {
    position: fixed;
    background-color: #0f1014;
    z-index: 1;
}

.navbar {
    font-size: 1rem;
    color: white;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li{
    list-style-type: none;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.navbar ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    transition: all 300ms linear;
}

.navbar ul li a:hover{
    color: #356e8b;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.393);
    cursor: pointer;
    transform: scale(8);
}

.main {
    width: 90%;
    height: 83%;
    padding: 0rem 0.5rem 0rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    padding: 0;
    padding-left: 100px;
    color: rgb(184, 184, 184);
}

.aboutme {
    width: 90%;
    height: 83%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    padding: 0;
    padding-left: 100px;
    color: rgb(184, 184, 184);
}

.container__title {
    font-weight: bold;
    margin: 0;
}

.container__subtitle {
    font-size: 1rem;
    opacity: 0.6;
    margin: 0;
    margin-bottom: 6rem;
}

.container__buttons {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 1.5rem
}

.buttons {
    font-size: 1rem;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8%;
    color: white;
    transition: all 300ms linear;
}

.buttons:hover {
    background-color: transparent;
    border: 1px solid #356e8b;
    border-radius: 8%;
    color: #356e8b;
    cursor: pointer;
}

.projects {
    font-size: 1.2rem;
    padding: 0;
    padding-left: 100px;
    color: rgb(184, 184, 184);
}

.container-projects {
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
    gap: 16px;
}

.project-card {
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: inset;
    width: 200px;
    height: auto;
}

.footer {
    margin: 0;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a0b0e;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}